<!-- email field  with validation-->
<div class="fields">
  <app-text-field
    [FGN]="form"
    FCN="email"
    label="Email address"
    inputType="email"
  ></app-text-field>
  <div class="erroMessage" *ngIf="isValid('email')">
    your email is not valid
  </div>
  <!-- password field  with validation-->
  <app-text-field
    [FGN]="form"
    FCN="password"
    label="Password"
    inputType="password"
  ></app-text-field>
  <div class="erroMessage" *ngIf="isValid('password')">
    your password is not valid
  </div>
  <!-- number field  with validation-->
  <app-text-field
    [FGN]="form"
    FCN="number"
    label="number"
    inputType="number"
  ></app-text-field>
  <div class="erroMessage" *ngIf="isValid('number')">
    your number is not valid
  </div>
  <!-- text field  with validation-->
  <app-text-field
    [FGN]="form"
    FCN="text"
    label="text"
    inputType="text"
  ></app-text-field>
  <div class="erroMessage" *ngIf="isValid('text')">your text is not valid</div>
  <!-- date field  with validation-->
  <app-text-field
    [FGN]="form"
    FCN="date"
    label="date"
    inputType="date"
  ></app-text-field>
  <div class="erroMessage" *ngIf="isValid('date')">your date is not valid</div>

  <!-- drop down select with validation  -->
  <app-drop-down-select
    [FGN]="form"
    FCN="gender"
    [data]="genders"
    label="Gender"
    height="h-11"
  ></app-drop-down-select>
  <!-- to set a pre-select drop down -->
  <!-- [preSetValue]="preSelectGender" -->

  <app-phone-field [FGN]="form" FCN="phoneNumber"> </app-phone-field>
  <div class="erroMessage" *ngIf="isValid('phoneNumber')">
    your phone number is not valid
  </div>

  <app-text-area
    FCN="description"
    [FGN]="form"
    label="Description"
  ></app-text-area>

  <!-- normal button -->
  <app-button label="Cancel" color="purple" [disabled]="false"></app-button>
  <!-- diabled buttons -->
  <app-button
    label="Submit"
    color="purple"
    [disabled]="!form.valid"
  ></app-button>
</div>
