<form [formGroup]="FGN" class="my-4">
  <ngx-intl-tel-input
    [cssClass]="
      ' w-full py-3 border border-youmi-light-grey rounded-full  focus:ring-1 focus:ring-youmi-purple shadow-gray-200 px-6 focus:border-youmi-purple disabled:bg-[rgba(0,0,0,0.02)] disabled:text-[rgba(0,0,0,0.38)]'
    "
    class="intl"
    name="phone"
    [searchCountryFlag]="true"
    [formControlName]="FCN"
    [separateDialCode]="true"
    [phoneValidation]="true"
    [selectedCountryISO]="CountryISO.SaudiArabia"
    [preferredCountries]="[CountryISO.SaudiArabia, CountryISO.Bahrain]"
    [enableAutoCountrySelect]="true"
  ></ngx-intl-tel-input>
</form>
